*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    min-height: 100vh;
    background-color: rgb(107, 107, 107);
}

.container{
    padding: 0 40px;
    width: 100%;
}

.homesection{
    display: flex;

}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.home-text h1{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 60px;
}

.home-text{
    padding: 20px;
    color: whitesmoke;
}
.home-img 
.img-holder{
    border-radius: 50%;
    box-shadow: burlywood;
    
}

.home-text,
.home-img{
    width: 50%;
    padding: 25px;
}

.about{
    text-align: center;
    color: whitesmoke;
    padding: 40PX;
}

.about h2{
    font-family: fantasy;
    font-size: 50px;
    padding: 15px;
    
}

.about p{
    padding: 10px;
    font-style: oblique;
}